<p id="notice"><%= notice %></p>

<p>
  <b>Problem:</b>
  <%= @idea.problem %>
</p>

<p>
  <b>Solution:</b>
  <%= @idea.solution %>
</p>

<p>
  <b>Name:</b>
  <%= @idea.name %>
</p>


<%= link_to 'Edit', edit_idea_path(@idea) %> |
<%= link_to 'Back', ideas_path %>
