<!DOCTYPE html>
<html>
<head>
  <title>Railsgirls</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <link rel="stylesheet" href="http://railsgirls.com/assets/bootstrap.css">

  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <div class="container">
    <div class="user_info">
      <% if signed_in? %>
        Hello <%= current_user.name %>!
      <% else %>
        <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>    

    <%= yield %>
  </div>

  <footer>
    <div class="container">
      Rails Girls 2012
    </div>
  </footer>
</body>
</html>
